*{
  background-color: #242424;
}

/* Estilos para el contenedor principal */
.simulador-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  padding: 20px;
  color: white;
  border-radius: 8px;
}

/* Estilo del título */
.navbar h1 {
  font-size: 30px;
  margin-bottom: 30px; /* Espacio entre el título y el botón */
  background-color: #333;
}

/* Estilo del botón de iniciar */
.btn-iniciar {
  padding: 10px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-iniciar:hover {
  background-color: #0056b3;
}

/* Estilos para el formulario */
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #070707;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  background-color: #070707;
  margin-bottom: 15px;
}

.form-group label {
  background-color: #070707;
  display: inline;
  font-weight: bold;
  margin-bottom: 5px;
  color: whitesmoke;
}

.form-input {
  color: whitesmoke;
  display: block;
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-enviar {
  padding: 10px 30px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
  margin-left: 50%;
}

.btn-enviar:hover {
  background-color: #218838;
}
